pydantic==2.5.3
pydantic-extra-types==2.5.0
pydantic-settings==2.1.0
pydantic_core==2.16.2
cachetools==5.3.2
certifi==2024.2.2
fastapi==0.109.2
flatbuffers==23.5.26
gast==0.5.4
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
typing_extensions==4.9.0
ujson==5.9.0
urllib3==2.2.0
uvicorn==0.27.0.post1
firebase-admin==6.4.0
starlette==0.36.3