.main_container {
    border-bottom: 1px solid black;
}

.link {
    text-decoration: none;
    color: black;
}

.button {
    border-radius: var(--mantine-radius-lg);
    cursor: pointer;
    --button-hover: #4B1AFD;
}

.text {
    color: var(--mantine-primary-color-1)
}

.text:hover {
    color: #4D1AFD
}