:root {
    --primary-color: #af99ff;
    --heading-color: #ffffff;
}

.main_container {
    background-color: #fbfbfb;
}

.main_heading {
    color: var(--heading-color);
    font-weight: 800;
}

.sub_heading {
    color: var(--heading-color);
    font-weight: 800;
}

.input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 50px;

    &:focus-within {
        border-color: var(--primary-color);
    }
}

.gradient_background {
    width: 100%;
    background-color: var(--primary-color);
    background-image:
        radial-gradient(at 48% 14%, hsla(207, 71%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 16% 38%, hsla(299, 83%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 6% 8%, hsla(223, 78%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 46%, hsla(36, 71%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 77% 10%, hsla(283, 70%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 14% 81%, hsla(1, 75%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 36% 71%, hsla(21, 63%, 66%, 1) 0px, transparent 50%);
    border-radius: 30px;
}

.shortened_URL {
    color: var(--heading-color);
}

.link {
    color: black;
    text-decoration: none;
}

.Card {
    border-color: var(--mantine-primary-color-1);
    color: var(--mantine-primary-color-1);
    transition: ease-in-out 100ms;
}

.Card:hover {
    box-shadow: 3px 7px 7px 1px #c8c8c8;
    background-color: var(--mantine-primary-color-1);
    color: white;
}