.main_heading {
    /* color: #33767b; */
    color: white;
    font-weight: 800;
}

.sub_heading {
    color: white;
    /* color: #d66d50; */
    font-weight: 800;
}

.gradient_background {
    /* width: 95vw; */
    width: 100%;
    background-color: #af99ff;
    background-image:
        radial-gradient(at 48% 14%, hsla(207, 71%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 16% 38%, hsla(299, 83%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 6% 8%, hsla(223, 78%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 46%, hsla(36, 71%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 77% 10%, hsla(283, 70%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 14% 81%, hsla(1, 75%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 36% 71%, hsla(21, 63%, 66%, 1) 0px, transparent 50%);
    border-radius: 30px;
}